ion-img {
    min-height: 24px;
    min-width: 20px;
}
.noimage {
    width: 400px;
    height: 240px;
    text-align: center;
}
.noimage-icon {
    font-size: 60px;
    margin-top: 70px;
}
* {
    font-family: 'Raleway', 'sans-serif';
}