.appTitle {
    margin: 25px 0px 30px 0px;
    text-align: center;
    font-size: 50px;
    font: "Uni Sans";
}
.loginInfo {
    margin: 0px 10px 10px 10px;
}
.buttonLogin {
    margin: 15px 10px 15px 10px;
}
.signUpTitle {
    margin: 0px 0px 0px 77px;
}
a {
    text-decoration: none;
}
.fontGlobal {
    font-family: 'Raleway', sans-serif;
}

