ion-card-subtitle {
    min-height: 10px;
}
.date {
    float: right;
    margin-top: -15px;
}
.like {
    float: left;
    margin-top: -8px;
    margin-left: 16px;
}
ion-icon {
    font-size: 24px;
    color: red;
}
.fab {
    color: white;
}
.text {
    margin-top: -24.5px;
    margin-left: 30px;
}
.usernameTextSize {
    font-size: large;
}
* {
    font-family: 'Raleway', 'sans-serif';
}